<%- include('includes/head.ejs') %>
    
    <%- include('includes/navigation.ejs') %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Thêm món ăn</h5>
                                        </div>
                                        <div class="card-body">
                                            <!-- <h5>Form controls</h5>
                                            <hr> -->
                                            <form>
                                                <div class="row">
                                                    
                                                    <!-- <div class="col-md-6">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Email address</label>
                                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Password</label>
                                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                            </div>
                                                            <div class="form-group form-check">
                                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </form>
                                                    </div> -->
                                                    <div class="col-md-6">
                                        
                                                            <div class="form-group">
                                                                <label>Tên món ăn</label>
                                                                <input type="text" class="form-control" placeholder="phở">
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                <label for="exampleFormControlSelect1">Loại món</label>
                                                                <select class="form-control" id="exampleFormControlSelect1">
                                                                    <option>Món mặn</option>
                                                                    <option>Món ngọt</option>
                                                                    <option>Món nước</option>
                                                                    <option>Món tráng miệng</option>
                                                                </select>
                                                            </div> -->
                                                            <div class="form-group">
                                                                <% for (let i = 0; i < 15; i++) { %>
                                                                    <label>Nguyên liệu <%= i + 1  %></label>
                                                                    <input type="text" class="form-control" placeholder="Định dạng: 'Số lượng,Đơn vị,Nguyên liệu'">
                                                                <% } %>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Yêu cầu cảm quan</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                            </div>
                                        
                                                    </div>
                                                    <div class="col-md-6">
                                                        
                                                            <div class="form-group">
                                                                <label>URL ảnh</label>
                                                                <input type="text" class="form-control" placeholder="abc.com">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleFormControlSelect1">Loại món</label>
                                                                <select class="form-control" id="exampleFormControlSelect1">
                                                                    <option>Món mặn</option>
                                                                    <option>Món ngọt</option>
                                                                    <option>Món nước</option>
                                                                    <option>Món tráng miệng</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Quy trình chế biến</label>
                                                                <% for (let i = 0; i < 15; i++) { %>
                                                                    <label>Bước <%= i + 1  %></label>
                                                                    <input type="text" class="form-control" placeholder="abc">
                                                                <% } %>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                            </div> -->
                                                        
                                                    </div>
                                                </div>
                                                <div class="text-center"> <!-- Thêm lớp "text-center" để căn giữa -->
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->


    <%- include('includes/end.ejs') %>
