<%- include('includes/head.ejs') %>
    
    <%- include('includes/navigation.ejs') %>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Thống kê</h5>
                                        <hr style="border-top: 1px solid #ccc;">
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Morris Chart ] start -->

                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Món ăn</h5>
                                        </div>
                                        <div class="card-block">
                                            <ul>
                                                <li>Tổng số món ăn: <%= dishCount %></li>
                                                <li>Số lượng món ăn theo từng loại:</li>
                                            </ul>
                                            <div id="dish-donut-chart" style="height:300px"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Nguyên liệu</h5>
                                        </div>
                                        <div class="card-block">
                                            <ul>
                                                <li>Tổng số nguyên liệu: <%= ingredientCount %></li>
                                                <li>Số lượng món ăn sử dụng nguyên liệu (từ 2 lần trở lên):</li>
                                            </ul>
                                            <div id="ingredient-donut-chart" style="height:300px"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Morris Chart ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="dishData" value="<%= encodeURIComponent(dishData) %>">
    <input type="hidden" id="ingredientData" value="<%= encodeURIComponent(ingredientData) %>">
    <!-- [ Main Content ] end -->

    <%- include('includes/end.ejs') %>
