<%- include('includes/head.ejs') %>
	
	<!-- Start blog details -->
	<div class="blog-box ">
		<div class="container " style='margin-top: 80px'>
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-uppercase">
						<h2><%= dish.name  %></h2>
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-12">
					<div class="blog-inner-details-page">
						<div class="blog-inner-box">
							<div class="side-blog-img">
								<img class="img-fluid" src="/<%= dish.image %>" alt="">							
								<!-- <img class="img-fluid" src="/images/food-1.jpg" alt="">							 -->
								<!-- <div class="date-blog-up">
									27 Fab
								</div> -->
							</div>
							<div class="posted-by"><ul>
								<li>Loại món:  <a href="/dishes/<%=dish._id %>"><%= dish.type %></a></li>
							</ul></div>
							<h3>Quy trình chế biến</h3>
							<ol>
								<% for (let i = 0; i < dish.steps.length; i++) { %>
								  <li><%= i + 1 %>. <%= dish.steps[i] %></li>
								<% } %>
							  </ol>
							  
								
							</div>
						</div>
						
					</div>
				<!-- </div> -->
			
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
					<div class="right-side-blog">
						<!-- <h3>Search</h3>
						<div class="blog-search-form">
							<input name="search" placeholder="Search blog" type="text">
							<button class="search-btn">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div> -->
						<h3>Nguyên liệu</h3>
						<div class="blog-categories">
							<ul>
								<% for (let ingredient of dish.ingredients) { %>
									<li><a href="/dish-by-ingredient?ingredient=<%= ingredient %>"><span><%= ingredient  %></span></a></li>
								<% } %>
							</ul>
						</div>
						<h3>Yêu cầu cảm quan.</h3>
						<!-- <blockquote> -->
							<p><%= dish.requirement  %></p>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- End details -->
	
	
        <%- include('includes/end.ejs') %>