<%- include('includes/head.ejs') %>

    <!-- Start Menu -->
	<div id="menu" class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Món ăn yêu thích</h2>
						<!-- <div class="blog-search-form">
							<input id="searchInput" name="search" placeholder="Nhập tên món ăn" type="text" >
							<button class="search-btn" onclick="searchDishes()">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div> -->
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
					</div>
				</div>
			</div>
			
			<%- include('includes/filter.ejs') %>
				
			<% if (dishes.length > 0) { %>
                <div class="grid">
                    <% for (let dish of dishes) { %>
                        <article class="card product-item" onclick="window.location.href = '/dishes/<%= dish._id %>'">
                            <header class="card__header">
                                <h1 class="product__title">
                                    <%= dish.name %>
                                </h1>
                            </header>
                            <div class="card__image">
                                <img src="/<%= dish.image %>" alt="<%= dish.name %>">
                            </div>
                            
                            <div class="card__actions">
                                <!-- <a href="/admin/edit-product" class="save-btn">Edit</a> -->
								<form action="/delete-favorite-dish" method="post">
									<button class="save-btn" type="submit"><i class="fa-solid fa-xmark fa-xl"></i></i></button>
									<input type="hidden" name="dishId" value="<%= dish._id  %>">
								  </form>

                            </div>
                        </article>
                        <% } %>
                </div>

				<%- include('includes/pagination.ejs') %>
			<% } else { %>
				<h1>Không tìm thấy món ăn!</h1>
			<% } %>	

		</div>
	</div>
	<!-- End Menu -->

    <%- include('includes/end.ejs') %>