<%- include('includes/head.ejs') %>

	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="/images/slider-01.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Tinh hoa ẩm thực. Con người Việt Nam.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/images/slider-02.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Gửi gắm tình yêu vào từng món ăn.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/images/slider-03.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Món ăn gia đình, ngon như ở nhà.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->
	
	<!-- Start About -->
	<div id="about" class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/about-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Chào mừng tới <span>Ẩm thực Việt</span></h1>
						<!-- <h4>Little Story</h4> -->
						<p>Ẩm thực Việt Nam luôn là đề tài thú vị khi nhắc đến Việt Nam, không chỉ phong phú món ăn và đa dạng công thức chế biến, ẩm thực còn thể hiện nhân sinh quan của con người cùng điều kiện tự nhiên đặc trưng của vùng khí hậu nhiệt đới.</p>
						<p>Ẩm Thực Việt Nam là cách gọi của nguyên lý pha trộn gia vị, phương thức chế biến và những thói quen ăn uống nói chung của người Việt và các dân tộc thuộc Việt trên đất nước Việt Nam. Tuy có nhiều sự khác biệt nhưng vẫn bao hàm ý nghĩa khái quát nhất để chỉ tất cả những món ăn phổ biến trong cộng đồng các dân tộc thiểu số nhưng vẫn tương đối phổ thông trong cộng đồng người Việt.</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="#menu">Khám phá ngay</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start QT -->
	<!-- <div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						"Nấu cho mình, cho người và cho đời thêm vui"
					</p> -->
					<!-- <span class="lead">Michael Strahan</span> -->
				<!-- </div>
			</div>
		</div>
	</div> -->
	<!-- End QT -->
	
	<!-- Start Menu -->
	<div id="menu" class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>THỰC ĐƠN</h2>
						<div class="blog-search-form">
							<input name="search" placeholder="Nhập tên món ăn" type="text">
							<button class="search-btn">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="special-menu text-center">
						<div class="button-group filter-button-group">
							<button class="active" data-filter="*">Tất cả</button>
							<button data-filter=".lunch">Món mặn</button>
							<button data-filter=".lunch">Món ngọt</button>
							<button data-filter=".dinner">Món nước</button>
							<button data-filter=".dinner">Món tráng miệng</button>
						</div>
					</div>
				</div>
			</div>
			
			<% if (dishes.length > 0) { %>
                <div class="grid">
                    <% for (let dish of dishes) { %>
                        <article class="card product-item" onclick="window.location.href = '/dishes/<%= dish._id %>'">
                            <header class="card__header">
                                <h1 class="product__title">
                                    <%= dish.name %>
                                </h1>
                            </header>
                            <div class="card__image">
                                <img src="/<%= dish.image %>" alt="<%= dish.name %>">
                            </div>
                            
                            <div class="card__actions">
                                <!-- <a href="/admin/edit-product" class="save-btn">Edit</a> -->
								<form action="/favorite-dish" method="post">
									<button class="save-btn" type="submit"><i class="fa-solid fa-bookmark"></i></button>
									<input type="hidden" name="dishId" value="<%= dish._id  %>">
								  </form>

                            </div>
                        </article>
                        <% } %>
                </div>

				<div class="pagination text-center">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<% if (currentPage !== 1 && previousPage !== 1) { %>
								<li class="page-item">
									<a class="page-link" href="/?page=1">1</a>
								</li>
							<% } %>
							<% if (hasPreviousPage) { %>
								<li class="page-item">
									<a class="page-link" href="/?page=<%= previousPage %>"><%= previousPage %></a>
								</li>
							<% } %>
							<li class="page-item active">
								<span class="page-link"><%= currentPage %></span>
							</li>
							<% if (hasNextPage) { %>
								<li class="page-item">
									<a class="page-link" href="/?page=<%= nextPage %>"><%= nextPage %></a>
								</li>
							<% } %>
							<% if (currentPage !== lastPage && nextPage !== lastPage) { %>
								<li class="page-item">
									<a class="page-link" href="/?page=<%= lastPage %>"><%= lastPage %></a>
								</li>
							<% } %>
						</ul>
					  </nav>
				
				</div>
				
			<% } else { %>
				<h1>Không tìm thấy món ăn!</h1>
			<% } %>	

		</div>
	</div>
	<!-- End Menu -->
	
	
	<%- include('includes/end.ejs') %>